.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 12px;
  background-color: #4285f4;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;

  &:hover {
    transition: all 0.5s;
    background-color: #357ae8;
  }
}
.btn-text-content{
  display: flex;
  position: absolute;
  opacity: 0;
}
.edit-button {
  width: 85px;
  height: 35px;
  font-size: 10px;
  background-color: #D9E7FA;
  color: #357ae8;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
  margin: 10px;
  &:hover {
    transition: all 0.5s;
    background-color: rgb(195, 220, 255);
  }
}

.delete-button {
  min-width: 85px;
  height: 35px;
  font-size: 10px;
  background-color: transparent;
  color: #357ae8;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
  margin: 10px;
  &:hover {
    transition: all 1s;
    background-color: rgba(217, 231, 250, 0.452);
  }
}


.create-button {
  background-color: #FF6596;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;

  &:hover {
    transition: all 0.5s;
    background-color: #FF6596;
    box-shadow: inset 0 0 35px rgb(236, 73, 125);
  }
}

.increment,.decrement{
  background-color: #FF6596;
  height: 35px;
  width: 35px;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
  margin: 10px;
}

.login-button{
  height: 45px;
  font-size: 10px;
  width: 50px;

  background-color: #fff;
  color: rgb(71, 71, 71);
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
  margin: 10px;
}

.signin-button{
  transition: all 0.5s;
  height: 45px;
  width: 100px;
  font-size: 10px;
  background-color: #fd8091;
  color: #fff;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
  margin: 10px;
  &:hover {
    transition: all 0.5s;
    background-color: rgb(128, 151, 233);
  }
}

.google-sign-in {
  background-color: #4285f4;
  color: white;

  &:hover {
    background-color: #357ae8;
    border: none;
    color: white;

  }
}