.icon-shoppingBag {
    font-size: 30px;
    color: #333;
}

#qtd-produto {
    color: #fff;
    z-index: 99999;
    position: relative;
    left: -16.5px;
    top: -1px;
    font-weight: bolder;
    font-size: 11px;
}
