.grid-container {
  position: relative;
}

.grid-container::after {
  content: "";
  width: 20px;
  height: 30px;
  background-color: #f4f7ff;
  position: absolute;
  bottom: 50px;
  width: 100%;
  bottom: 0px;
}

.grid {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 15px 0;
}

::-webkit-scrollbar {
  display: none;
}

#element::-webkit-scrollbar {
  display: none;
}

.container-elm {
  width: 52vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media (min-width: 1024px) and  (max-width: 1225px) {
  .container-elm {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 900px) and  (max-width: 1024px) {
  .container-elm {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 360px) and (max-width: 876px) {
  .container-elm {
    display: block;
    width: 2486px;
  }

  .grid {
    display: block;
    height: 420px;
  }
}