.slider-address-container{
        position: fixed;
        z-index: 99999999;
        top: 0;
        right: 0px;

        & .cart-dropdown {
            
            width: 439px;
            height: 100vh;
            display: flex;
            flex-direction: column;
            padding: 11px;
            border: 1px solid rgb(216, 230, 254);
            background-color: white;
            position: relative;
            background-image: url("https://cdn.dribbble.com/users/2394319/screenshots/4773525/record.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            animation-name: fade_in_from_left;
            animation-duration: 1.5s;
            & .address-slide-content-container {
                overflow-y: scroll;
                height: 95%;
                padding-right: 10px;
            }
        }
}