
a {
    text-decoration: none;
}

.card-produto {

    background: #fff;
    border-radius: 10px;
    margin: 1rem;
    position: relative;
    width: 375px;
    height: 220px;
    flex-direction: column;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.19);
    cursor: pointer;
    
    &:hover {
        transition: box-shadow 0.3s ease;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.19), 0 1px 5px rgba(0, 0, 0, 0.28);
    text-decoration: none;

    }
}

.card-content-container{
    height: 75%;
}
.btn-container {
    height: 25%;
    display: flex;
    align-items: center;
    justify-content:flex-end;
}

.image-container {
    display: flex;
    justify-content: center;
    height: 85px;
    margin: 40px;

    img {
        height: 100% !important;
    }
}

.title {
    padding: 0 20px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(63, 63, 63);
}

.endereco-container {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0   20px  ;


    h3 {
        font-weight: bold;
        font-size: 20px;
        color: #bfbfbf;
    }
}

.price {
    font-weight: bold;
    margin: 0;
}

.desc {
    padding: 0 20px;
    font-size: 12px;
    font-weight: normal;
    color: rgb(102, 102, 102);
}

.btn-carrinho {
        height: 35px;
        width: 60px;
        padding: 10px;
        background-color: #f5f5f5;
        border: none;
        display: block;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        overflow: hidden;
        transition: .3s;
        margin: 15px 10px;
        border-radius: 4px;
        float: right;
        margin-right: 15px;

        &:after {
            position: absolute;
            -webkit-transition: .6s;
            transition: .6s;
            content: '';
            width: 0;
            left: 50%;
            bottom: 0;
            height: 3px;
            background: #5bcbff;
            height: 120%;
            left: -10%;
            -webkit-transform: skewX(15deg);
            transform: skewX(15deg);
            z-index: -1;
        }

        &:hover {
            cursor: pointer;
            background-color: transparent;
            color: #fff;
            

            &:after {
                left: -10%;
                width: 120%;
                z-index: 1;
            }
        }
        & span{
            font-size: 13px;
            z-index: 99;
            position: absolute;
            left: 7px;
            top: 7px;
        }
    }
