 .titulo {
    background-color: #ff6b6b; 
    color: white;
    margin-bottom: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: solid;
    border-radius: 5px;
}   

.container-form-cadastro {
    display: block;
    align-items: center;
    background-color: rgb(218, 211, 211);
    margin-bottom: 10px;
    padding-top: 20px;
}

input{
    border-radius: 4px;
}

