
.discount-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 220px 220px;
    gap: 20px;

    .discount {
        height: 220px;
        margin-bottom: 25px;
        border-radius: 5px;
        box-shadow: 0 0 20px #bcbcbd29;
        background-color: #fff;
        cursor: pointer;
        overflow: hidden;
        position: relative;

        & img {
            z-index: 90;
            width: 100%;
            position: relative;
        }

        & span, h2 {
            z-index: 99;
            position: absolute;
            font-weight: bold;
            color: rgb(68, 68, 68);
        }
    }

    & #discount-a {
        background-color: #f5f5f5;

        & h2 {
            top: 14.5%;
            font-size: 52px;
            right: 8.2%;
            width: 220px;
        }

        & span {
            top: 47.5%;
            font-size: 15px;
            right: 15%;
            width: 90px;
        }

        & img {
            right: 45%;
        }
    }

    & #discount-b {
        
        & h2 {
            top: 44.5%;
            font-size: 32px;
            left: 3.5%;
            width: 220px;
        }

        & span {
            bottom: 13.5%;
            font-size: 15px;
            left: 3.5%;
            width: 90px;
        }

        & img {
            right: -12%;
            width: 200%;
            top: -60%;
        }
    }

    & #discount-c {
        
        & h2 {
            top: 44.5%;
            font-size: 32px;
            left: 3.5%;
            width: 220px;
        }

        & span {
            bottom: 13.5%;
            font-size: 15px;
            left: 3.5%;
            width: 90px;
        }

        & img {
            right: -35%;
            width: 100%;
            bottom: 60%;
        }
    }

    & #discount-d {
        
        & h2 {
            color: #fff;
            top: 10.5%;
            font-size: 52px;
            right: 8.5%;
        }

        & span {
            color: #fff;
            top: 37.5%;
            font-size: 25px;
            right: 8.5%;
        }

        & img {
            width: 150%;
        }
    }
}

.full {
    width: 100%;
    height: 120px;
    box-shadow: 0 0 20px #bcbcbd29;
    background-color: #fd8091;
    margin: 50px 0 25px 0;
    border-radius: 5px;
}

.carousel{
    width: 100%;
    height: 400px;
    background-color:  #4e66cd;
    margin-bottom: 45px;
}