.checkout-content-holder {
    margin-top: 50px;
    width: 100%;
    height: auto;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;

    &>div.checkout-a-content {
        width: 75%;
        height: 275px;
        padding: 1rem;
    }

    &>div.finalizar-compra {
        padding: 1rem;
        width: 75%;

        &>div.content-finalizar-compra {
            height: 100%;
            margin-top: 1rem;
            border-radius: 4.5px;
            background-color: #fff;
            width: 100%;
            min-height: 350px;
            box-shadow: 0px 0px 15px #D9E3FF;
            border: 1px solid #D9E3FF;
            padding: 15px 15px 0 15px !important;

            & .p-title-resumo {
                font-weight: bold;
            }

            &>div.finalizar-compra-resumo-a {
                min-height: 190px;
                display: flex;
                flex-direction: row;

                & .address-resumo,
                .rotal-resumo {
                    padding: 1rem;
                }

                & div.address-resumo {
                    background-color: #fff;
                    width: 50%;
                    height: 250px;

                    & .address-info {
                        width: 100%;
                        color: #2125298f;
                        display: flex;
                        flex-direction: column;
                        font-size: 14px;

                        p {
                            margin: 0;
                        }

                        & .address-state-city-cep {
                            p {
                                display: inline-block;
                            }
                        }
                    }
                }

                & div.total-resumo {
                    padding: 1rem;
                    background-color: #D9E7FA54;
                    width: 50%;
                    height: 210px;
                    border-radius: 5px;

                }

                & .total-resumo-a {
                    width: 100%;

                    & .a-qtd-items-e-total {
                        justify-content: space-between;
                        width: 100%;
                        height: 22px;
                        display: flex;
                        flex-direction: row;
                        font-size: 15px;

                    }
                }

                & .total-resumo-b {
                    margin-top: 1rem;
                    border-top: 1px solid rgba(128, 128, 128, 0.473);
                    justify-content: space-between;
                    width: 100%;
                    height: 22px;
                    display: flex;
                    flex-direction: row;
                    font-size: 22px;
                    font-weight: bold;
                    padding-top: 1rem;

                }
            }
        }
    }

    & .pagamento-cartao-holder {
        border:1px solid #e1e8f5;
        width: 100%;
        min-height: 325px;
        margin-bottom: 20px;
        border-radius: 5px;
        padding: 25px;
        display: flex;
        align-items: end;
        

        & .pagamento-inner-container {
            width: 50%;
            margin: 3rem auto;
        }

        & .cartao {
            box-shadow: 0px 0px 15px #D9E3FF;
            padding: 15px 15px 0 15px !important;
            border-radius: 20px;
            height:320px;
            min-width: 350px;
            width: 60%;
            background-image: url("https://cdn.dribbble.com/users/78464/screenshots/10566705/media/9a40bfdb86890ddba956fe5517cd9ef7.jpg");
            background-size: 1251px;
            background-position-y: -600px;
            background-position-x: -40px;
            margin-right: 20px;
        }
    }
}

.to-the-left {
    display: flex;
    justify-content: flex-end;
}

.frete-info {
    font-size: 10px;
}

.input-cartao {
    background-color: transparent;
    border: none;
    color: #fff;
    font-weight: bolder;
    font-size: 25px;
}
.address-info {
    width: 100%;
    color: #2125298f;
    display: flex;
    flex-direction: column;
    font-size: 14px;}