.fixed-header,
.fixed-subnav{
    position: fixed !important;
    width: 100%;
}
.fixed-subnav{
    position: absolute !important;
    top: 69px !important;
    z-index: 9999;

}
.safe-space-for-header{
    height: 110px;
}
.bg-main {
    background-color: #fff;
    display: flex;
    padding-left: 7% !important;
    padding-right: 7% !important;
    display: flex;
    justify-content: space-between;
    height: 70px;
    z-index: 99999;
}

/*.navbar {
    padding: 0 12rem !important;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 99999;
}*/

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.sub-navbar {
    border-top: 1px solid #e3e3e3;
    height: 40px;

}

.logo {
    background-image: url('./logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 44px;
    width: 234px;

}

.logged {
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 42px;
    margin-left: 10px;
    width: 300px;
}

.icon-userCircle {
    font-size: 33px;
    margin-left: 17px;
    color: #333;
}



.user-bag {
    align-items: center;
}

.navbar-span {
    font-size: 15px;
}

#ola-navbar {
    font-size: 12px;
    font-weight: bolder;
    color: rgb(41, 41, 41);
    text-decoration: none;
}

#usuario-navbar {
    color: rgb(41, 41, 41);
    text-decoration: none;
}


#div-header-separation {
    margin-left: 15px;
    position: relative;
    top: 8px;
    margin-right: 25px;
}

.nav-menu {
    background-color: #fff;
    justify-content: space-between;
}

.user-mobile{display: none;}
@media (max-width: 1056px) {
    .safe-space-for-header{
        height: 70px;
    }
    .navbar,
    .sub-navbar {

        padding-left: 2% !important;
        padding-right: 2% !important;
    }
    

    .sub-navbar {
        background-color: #fff;
        display: none !important;
    }
    .none{
        
        display: none;
    }

    #ola-navbar,
    #usuario-navbar {
        display: none;
    }

    #user, .logo {
        margin: 0;
        width: 150px;

    }

    .login-icon {
        padding: 0;
    }
    .signin-button,
    .login-button,
    .login-span{
        display: none;
    }
    .user-mobile{display: block;}
}

.login-span{
    font-size: 13px;
}

.carrinho-container {
    width: 290px;
    height: 370px;
    background:
        #fff;
    position: fixed;
    top: 85px;
    box-shadow: 0 0 5px #929292;
    z-index: 99999;
    right: 7vw;
}

.for-login-page{
    height: 100px;
}

.get-exit{
    background-color: #F082AC82;
    padding:  8.5px 20px;
    color: #fff !important;
    border-radius: 20px;
    &:hover{
        transition: all 0.5s;
        background-color: #F082AC;
    }
}

.user-name{
  color: #fd8091 !important;

}

.icon-heart {
    color: #333;
    width: 100%;
    font-size: 30px;
}

.footer{
    width: 100%;
    height: 520px;
    background-color: #fff;
    margin-top: 150px;
}