

.info-holder {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    box-shadow: 0px 0px 15px #D9E3FF;
    border: 1px solid #D9E3FF;
    padding: 15px  15px 0  15px !important;
    p{
        margin: 0;
        padding: 2px;
    }
    & .rua{
        font-size: 18px;
        width: 100%;
        min-height: 30px;
    }
    & .address-info{
        width: 100%;
        color: #2125298f;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        & .address-state-city-cep {
            p {
                display: inline-block;
            }
        }
    }
    & .spaced{
        margin-top: 15px;
    }
}

.line-break {
    display: flex;
    width: 100%;
    align-items: center;
}

.line-break-left{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid #D9E3FF;
    margin-top: 2px;
}

.box-border {
    border: 1px solid #D9E3FF;
    border-radius: 5px;
    margin: 1rem 0;

}

.column-dir {
    flex-direction: column;
}

.flex-to-left{
    align-self: flex-end;
}

.card-address-break-apart{
    display: flex;
align-items: center;
height: 30px;
justify-content: space-between;
}

.give-small-space{
    margin-top: 95px;
}